
    @font-face {
        font-family: 'TT Lakes Regular';
        src: url('fonts/TTLakes-Regular.eot');
        src: url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Regular.woff') format('woff'),
        url('fonts/TTLakes-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        }

        @font-face {
            font-family: 'TT Lakes Medium';
            src: url('fonts/TTLakes-Medium.eot');
            src: url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
            url('fonts/TTLakes-Medium.woff') format('woff'),
            url('TTLakes-Medium.ttf') format('truetype');
            font-weight: bold;
            font-style: normal;
            }
    
            @font-face {
                font-family: 'TT Lakes Bold';
                src: url('fonts/TTLakes-Bold.eot');
                src: url('fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
                url('fonts/TTLakes-Bold.woff') format('woff'),
                url('TTLakes-Bold.ttf') format('truetype');
                font-weight: bold;
                font-style: normal;
                }

*, *:before, *:after {
    box-sizing: border-box;
}            

html, body {
    font-family: "TT Lakes Regular";
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    border: 0;
}


.header {
    
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 ;
    padding: 10px 0;
}

.header__nav--left {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
}

.header__nav--right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.heaer__burger {
    margin: 10px;
}
.header__divider--left {
    margin: 10px;
}
.header__logo {
    margin: 10px;
}
.header__call {
    margin: 10px;
}
.header__message {
    margin: 10px;
}
.header__area {
    margin: 10px;
}
.heaer__divider--right {
    margin: 10px;
}
.header__servis .btn2 {
    margin: 10px;
    border: none;
    border-radius: 50%;
    height: 46px;
    width: 40px;
    background: url(img/ic/repair.svg) no-repeat;
    padding: 0px;
}
.header__search {
    margin: 10px;
}
/* .heaer__divider_2 {
    visibility: hidden;
} */


.main {
    display: flex;
    justify-content: space-between;
    background: #F8F8F8;
}

.main__item {
    display: flex;
}

.main__service {
    flex: 1 0 auto;
}

.main__container {
    width: 320px;
    margin: 0 auto;
    padding: 0 10px;
}

h1 {
    margin: 24px 0;
    font-size: 28px;
    line-height: 40px;
    position: relative;
    padding: 0 0 0 20px;
    font-weight: 700;
    font-family: 'TT Lakes Bold';
}

h1::before{
    content: url('img/highlight.svg');
    position: absolute;
    left: -10px;
    height: 40px;
    width: 4px;
    display: inline-block;
    border-radius: 20px;
}

p {
    margin: 4px 0 0;
}

a {
    text-decoration: none;
    color: black;
}

.main__sevice-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 0 24px;
    overflow-x: auto;
    overflow-y: hidden;
}

.main__sevice-menu--item1 {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 0 2px #b8ffec inset;
    font-size: 16px;
    cursor: pointer;
    flex: 0 0 auto;
}

.main__sevice-menu--item2 {
    font-size: 16px;
    cursor: pointer;
    flex: 0 0 auto;
}

.main__sevice-menu--item3 {
    padding: 8px 17px;
    font-size: 16px;
    line-height: 1.4;
    flex: 0 0 auto;
    cursor: pointer;
}

.main__sevice-menu--item4 {
    padding: 8px 17px;
    font-size: 16px;
    line-height: 1.4;
    flex: 0 0 auto;
    cursor: pointer;
}

.main__sevice-menu--item5 {
    padding: 8px 17px;
    font-size: 16px;
    line-height: 1.4;
    flex: 0 0 auto;
    cursor: pointer;
}

.main__content {
  display: flex;
  flex-direction: column;
}

.main_conteiner-text {
    margin-right: 20px;
}

.main__content-text {
    
    line-height: 1.3;
    letter-spacing: -0.8px;
    height: 103px;
    overflow: hidden;
    margin: 0 0 15px;
}

.btn__conteinrEvery {
    width: 130px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}



.btn-none3 {
    position: relative;
    /* display: block; */
    background: none;
    /* left: 35px;
    top: 20px; */
    /* margin-bottom: 33px; */
    /* margin-left: -28px; */
    border: none;
    cursor: pointer;
    width: 120px;
    padding: 2px; 
}

.btn-none3::before {
    content: "";
    background: url(img/ic/icon.svg)no-repeat;
    position: absolute;
    left: 0;
    width: 12px;
    height: 12px;

}

.main__sevice-menu--item2:hover {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 0 2px #b8ffec inset;
}

.main__sevice-menu--item3:hover {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 0 2px #b8ffec inset;
}

.main__sevice-menu--item4:hover {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 0 2px #b8ffec inset;
}

.main__sevice-menu--item5:hover {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 0 2px #b8ffec inset;
}


.main__content-img {
    width: 300px;
    border-radius: 6px;
    margin: 0 0 30px;
    vertical-align: top;
}

.header__servis--none {
    margin-top: 20px;
    margin-bottom: -13px;
    margin-right: 17px;
    margin-left: 14px;
}

.header__search--none {
    margin-bottom: -13px;
    margin-left: 14px;
    margin-top: 20px;
}

.header__icon1 {
    position: relative;
    top: 20px;
    right: 19px;
    margin-left: 164px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
    background: url(img/ic/repair.svg)no-repeat;
    cursor: pointer;
}

.header__btn {
    position: absolute;
    right: 31px;
    top: 11px;
    display: inline-block;
    width: 161px;
    font-family: "TT Lakes Regular";
    font-size: 14px;
}

.header__icon2 {
    text-decoration: none;
    margin-left: 10px;
    font-size: 14px;
}

.main__icon {
    margin-left: 374px;
    display: none;
}

/* .btn {
    width: 10px;
    margin-bottom: 20px;
} */



@media screen and (max-width: 768px) {
    .header__divider--left,
    .header__call,
    .header__message,
    .header__area {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .main__container {
        width: 768px;
    }
}


@media screen and (min-width: 768px) {
    .main__content  {
        flex-direction: row;
}
}


@media screen and (min-width: 768px) {
    .main__content-img {
        width: 360px;
    }
}

/* @media screen and (min-width: 768px) {
    .btn {
        position: absolute;
        margin: 125px 0 0px 13px;
        
    }
} */

@media screen and (min-width: 1120px) {
    .main__container {
        min-width: 1056px;
        max-width: 1120px;
        
    }
}
    
@media screen and (min-width: 1120px) {
    .main__content-img {
        width: 531px;
        margin: 0 0 40px;
    }
}

@media screen and (min-width: 1120px) {
  .header {
    display: none;
  }
   }


@media screen and (min-width: 1120px) {
  .main__icon {
    display: flex;
  }   
   
 }

    .main__sevice-menu--item1,
    .main__sevice-menu--item2 {
       padding: 8px 17px;
       line-height: 1.4;
    }
  
